@page
    <div class="container mt-5 mb-5 d-flex justify-content-center">
        <div class="card px-1 py-4">
            <div class="card-body">
                <h6 class="card-title mb-3">Chọn loại giao dịch</h6>
                <div class="d-flex flex-row">

                    <label onclick="ismua()" class="radio mr-1"> <input onclick="ismua()" type="radio" name="add" value="anz" checked> <span onclick="ismua()">  <i onclick="ismua()" class="fa fa-user"></i> Mua </span> </label>

                    <label onclick="isban()" class="radio"> <input onclick="isban()" type="radio" name="add" value="add"> <span> <i onclick="isban()" class="fa fa-plus-circle"></i> Bán </span> </label>
                </div>


                <h6 class="information mt-4">Nhập thông tin giao dịch</h6>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <label for="name">Name</label> --> <input name="macp" class="form-control" type="text" placeholder="Mã Cổ Phiếu">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input name="soluong" class="form-control" type="number" placeholder="Số lượng"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input name="giadat" class="form-control" type="number" placeholder="Giá đặt"> </div>
                        </div>
                    </div>
                </div>
                <div onclick="thuchien()" style="width: 100%;" class=" d-flex flex-column text-center px-5 mt-3 mb-3"> </div> <button onclick="thuchien()" style="width: 100%; background-color: #81b1fa;" class="btn btn-primary btn-block confirm-button">Thực hiện</button>
            </div>
        </div>
    </div>


    <script>let mua = true;
        let macp;
        let soluong;
        let giadat;

        function ismua(){
            mua = true;
        }
        function isban(){
            mua = false;
        }

        function thuchien(){


            macp = $("input[name=macp]").val();
            soluong = $("input[name=soluong]").val();
            giadat = $("input[name=giadat]").val();

            console.log(macp)
            console.log(soluong)
            console.log(giadat)




            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:

                    let data = xhttp.responseText;


                    alert(data);

                    console.log(data);
                    
                }
            };
            xhttp.open("GET", "https://localhost:5001/datlenh?loaigd=" + mua + "&macp=" + macp + "&soluong=" + soluong + "&giadat=" + giadat, true);
            xhttp.send();



        }</script>

    <style>


        body {
            background-color: #FFEBEE
        }

        .card {
            width: 400px;
            background-color: #fff;
            border: none;
            border-radius: 12px
        }

        label.radio {
            cursor: pointer;
            width: 49%;
        }

            label.radio:nth-child(2) {
                margin-left: 2%;
            }

            label.radio input {
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                pointer-events: none
            }

            label.radio span {
                padding: 7px 14px;
                border: 2px solid #eee;
                display: inline-block;
                color: #039be5;
                border-radius: 10px;
                width: 100%;
                height: 48px;
                line-height: 27px
            }

            label.radio input:checked + span {
                border-color: #039BE5;
                background-color: #81D4FA;
                color: #fff;
                border-radius: 9px;
                height: 48px;
                line-height: 27px
            }

        .form-control {
            margin-top: 10px;
            height: 48px;
            border: 2px solid #eee;
            border-radius: 10px
        }

            .form-control:focus {
                box-shadow: none;
                border: 2px solid #039BE5
            }

        .agree-text {
            font-size: 12px
        }

        .terms {
            font-size: 12px;
            text-decoration: none;
            color: #039BE5
        }

        .confirm-button {
            height: 50px;
            border-radius: 10px
        }
    </style>