@page

    <br>
    <h1 id="label_table">BẢNG GIÁ TRỊ TRỰC TUYẾN</h1>

    <table id="customers">

        <tr>
            <th rowspan="2">Mã CK</th>
            <th colspan="6">Bên mua</th>
            <th colspan="2" style="color: lightyellow;">Khớp lệnh</th>
            <th colspan="6">Bên bán</th>
            <th rowspan="2" style="color: lightyellow;">Tổng KL</th>
        </tr>

        <tr>
            <th style="text-align: center; color: rgb(202, 202, 202);">Giá 3</th>
            <th>KL 3</th>
            <th>Giá 2</th>
            <th>KL 2</th>
            <th>Giá 1</th>
            <th>KL 1</th>
            <th style="color: lightyellow;">Giá</th>
            <th style="color: lightyellow;">KL</th>
            <th>Giá 1</th>
            <th>KL 1</th>
            <th>Giá 2</th>
            <th>KL 2</th>
            <th>Giá 3</th>
            <th>KL 3</th>
        </tr>


    </table>


    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>